.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 450px;
  margin-top: 20%;
  background: #000;
  color: #fff;
  font-size: 30px;
  border: 0;
  outline: none;
}

.line {
  width: 450px;
  height: 4px;
  background: #fff;
  margin-top: 10px;
}
