* {
  margin: 0;
}

#titleMain {
  top: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 2em;
  color: white;
  font-family: "Roboto", sans-serif;
}

#quote {
  color: white;
  z-index: 10;
}

.containerHome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  justify-content: center;
  align-items: center;
}

#background {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.3;
  position: absolute;
}

#photographer {
  font-size: 2em;
  color: white;
  position: absolute;
  bottom: 70px;
  left: 70px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

#nameOfPhotographer {
  font-size: 1em;
  position: absolute;
  bottom: 30px;
  left: 70px;
  color: white;
  font-family: "Roboto", sans-serif;
}
