* {
  margin: 0;
  padding: 0;
}

.containerOnboarding {
  color: white;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
}

.container {
  color: white;
  flex: 2;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container3 {
  color: white;
  flex: 4;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.containerInside {
  position: absolute;
  bottom: 0;
}

#nextBtn {
  text-align: center;
  text-decoration: underline;
  transition: 0.3s;
  cursor: pointer;
}

.buttonDiv {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextBtn:hover {
  color: lightgray;
  transition: 0.3s;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 400px;
  margin-top: 10%;
  background: #000;
  color: #fff;
  font-size: 1.5em;
  border: 0;
  outline: none;
}

.line {
  width: 100%;
  height: 4px;
  background: #fff;
  margin-top: 10px;
}

#subtitle {
  color: #919191;
  font-size: 14px;
  text-align: center;
}

.list {
  color: #919191;
  font-size: 1em;
  column-count: 2;
  margin-top: 50px;
  width: 350px;
  padding-left: 90px;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin-bottom: 5%;
}

.true {
  color: white;
  transition: 0.3s;
}

.false {
  color: #919191;
  transition: 0.3s;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

p {
  font-size: 14px;
  color: #919191;
  margin-bottom: 20px;
}

#title3 {
  margin-top: 10%;
}
